<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询信息</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/myUtil.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/home.css">
    <style>
        .conter{
            width: 100%;
            height: 50px;
            position: absolute;
            top: 250px;
            left: 450px;
        }
        .con{
            float: left;
            padding-left: 40px;
            width: 100px;
            height: 50px;
            background-color: darkseagreen;
            border-right: 1px solid white;
            list-style: none;
            border: 1px solid #6c6c6c;
        }
        .conter ul li span{
            color: black;
            font-size: smaller;
            line-height: 50px;
            text-align: center;
            display: inline;
        }
        .on{
            background-color: whitesmoke;
        }
        .layui-form-label{
            font-size: 12px;
            margin-left: 280px;
        }
        .layui-input, .layui-textarea{
            height: 30px;
            margin-top: 4px;
            font-size: 12px;
        }
        .layui-btn{
            height: 30px;
            width: 40px;
            margin-top: 4px;
        }
        .layui-btn .layui-icon{
            position: absolute;
            top: 2px;
            left: 11px;
        }
        .cone{
            display: none;
        }
        .layui-form-item .layui-input-inline{
            float: none;
        }
        .tranMinFare{
            margin-left: 50px;
        }
        .tranMaxFare{
            top: 0px;
            right: 280px;
        }
        .ls{
            position: absolute;
            right: 10px;
            top: -1px;
        }
    </style>
</head>
<body style="background-color: whitesmoke">
<!--主内容区-->
<div>
    <div class="conter">
        <ul>
            <li class="con" id="schedule_query"><span>时刻表查询</span></li>
            <li class="con" id="the_car_query"><span>状态查询</span></li>
            <li class="con" id="the_fare_query"><span>票价查询</span></li>
            <li class="con" id="votes_to_query"><span>票数查询</span></li>
            <li class="con" id="site_query"><span>站点查询</span></li>
        </ul>
    </div>
</div>
<!--弹出层-->
<div>
    <form method="post" id="formSearch" lay-filter="formSearch" style="display: none" autocomplete="off">
        <!--标识是哪种查询-->
        <input type="hidden" name="isInsert" value="1"/>
        <!--刷新按钮-->
        <button type="reset" hidden="hidden"></button>

        <!--时刻查询-->
        <div class="layui-form-item cone" id="o">
            <label class="layui-form-label">发车时间 :</label>
            <div class="layui-input-inline layui-show-xs-block">
                <input type="text" id="maintenanceDate" name="maintenanceDate" class="layui-input">
            </div>

            <div class="layui-input-inline layui-show-xs-block">
                <button class="layui-btn" type="button" id="btnSearch">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>

        <!--状态查询-->
        <div class="layui-form-item cone" id="o1">
            <label class="layui-form-label">状态查询</label>
            <div class="layui-input-inline layui-show-xs-block">
                <select name="realName" class="layui-select layui-input"  lay-filter="demo4" lay-verify="required">
                    <option value="">请选择</option>
                </select>
            </div>

            <div class="layui-input-inline layui-show-xs-block ls">
                <button class="layui-btn" type="button" id="btnSearch1">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>

        <!--票价查询-->
        <div class="layui-form-item cone" id="o2">
            <input class="layui-input tranMinFare" name="tranFare" id="tranMinFare1" placeholder="请输入最低票价">
            <span class="inline"></span>
            <input class="layui-input tranMaxFare" name="tranFare" id="tranMaxFare1" placeholder="请输入最高票价">

            <!--查询按钮-->
            <div class="layui-input-inline layui-show-xs-block ls">
                <button class="layui-btn" type="button" id="btnSearch2">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>

        <!--票数查询-->
        <div class="layui-form-item cone" id="o3">
            <label class="layui-form-label">列车名称 :</label>
            <div class="layui-input-inline layui-show-xs-block">
                <select name="realName" class="layui-select layui-input"  lay-filter="demo4" lay-verify="required">
                    <option value="">请选择</option>
                </select>
            </div>

            <div class="layui-input-inline layui-show-xs-block">
                <button class="layui-btn" type="button" id="btnSearch3">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>

        <!--站点查询-->
        <div class="layui-form-item cone" id="o4">
            <label class="layui-form-label">站点</label>
            <div class="layui-input-inline layui-show-xs-block">
                <select name="realName" class="layui-select layui-input"  lay-filter="demo4" lay-verify="required">
                    <option value="">请选择</option>
                </select>
            </div>

            <div class="layui-input-inline layui-show-xs-block">
                <button class="layui-btn" type="button" id="btnSearch4">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>

        <!--表格-->
        <div class="layui-card-body cone" id="b">
            <table class="layui-hide" style="text-align: center" id="tablezzBrId" lay-filter="tablezzBrIdEvent"></table>
        </div>

        <div class="layui-card-body cone" id="b1">
            <table class="layui-hide" style="text-align: center" id="tablezzBrId1" lay-filter="tablezzBrIdEvent"></table>
        </div>

        <div class="layui-card-body cone" id="b2">
            <table class="layui-hide" style="text-align: center" id="tablezzBrId2" lay-filter="tablezzBrIdEvent"></table>
        </div>

        <div class="layui-card-body cone" id="b3">
            <table class="layui-hide" style="text-align: center" id="tablezzBrId3" lay-filter="tablezzBrIdEvent"></table>
        </div>

        <div class="layui-card-body cone" id="b4">
            <table class="layui-hide" style="text-align: center" id="tablezzBrId4" lay-filter="tablezzBrIdEvent"></table>
        </div>
    </form>
</div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/myUtils.js"></script>
<script src="/lib/layui/layui.js"></script>
<script type="text/javascript">
    //点击添加高亮效果（li元素）
    $("li").click(function () {
        //给当前元素添加高亮效果
        for (var x in $("li")) {
            $("li").eq(x).removeClass("on");
        }
        $(this).addClass("on");
    })

    //声明layui
    layui.use(()=>{
        layer = layui.layer;
        laydate = layui.laydate;
        form = layui.form;
        table = layui.table;

        //渲染弹出层日期
        laydate.render({
            elem:"#maintenanceDate",
            //开启时间段选择框
            type: 'date',
            range: true,//开启日期时间段选择
        })

        //时刻表查询按钮
        $("#schedule_query").click(()=>{
            //重置表单
            $('#formSearch [name="reset"]').click();
            //状态为1时刻表查询
            form.val('formSearch',{isInsert : 1});
            //显示时间框
            $("#o").removeClass("cone")
            //其它显示隐藏
            $("#o1").addClass("cone")
            $("#o2").addClass("cone")
            $("#o3").addClass("cone")
            $("#o4").addClass("cone")

            //表格隐藏
            $("#b").removeClass("cone")
            //其它显示隐藏
            $("#b1").addClass("cone")
            $("#b2").addClass("cone")
            $("#b3").addClass("cone")
            $("#b4").addClass("cone")
            //表单
            tablezzBrId = table.render({
                elem: "#tablezzBrId",
                id: "tablezzBrId",
                url:'/conductor/selectPageList',
                page:true,
                cols:[ [
                    {type:"numbers",title:"排序",align: 'center'},
                    {field: 'trainId',title: '订票ID',hide:true},
                    {field: 'siteName',title: '起点站',align: 'center'},
                    {field: 'berthPlace', title: '终点站',align: 'center'},
                    {field: 'trainNumber',title: '列车编号',align: 'center'},
                    {field: 'trainOutTime', title: '发车时间',align: 'center',templet:function (data){
                            var jc =new Date(data.trainOutTime);
                            return jc.getFullYear() + "-" + ((jc.getMonth() + 1)<10?"0":"")+(jc.getMonth() + 1) + "-" +
                                (jc.getDate()<10?"0":"")+jc.getDate()+" - "+jc.getHours()+":"+jc.getMinutes()+":"+jc.getSeconds();
                        }},
                    {field: 'reserveTime', title: '订票时间',align: 'center',templet:function (data){
                            var so =new Date(data.reserveTime);
                            return so.getFullYear() + "-" + ((so.getMonth() + 1)<10?"0":"")+(so.getMonth() + 1) + "-" +
                                (so.getDate()<10?"0":"")+so.getDate()+" - "+so.getHours()+":"+so.getMinutes()+":"+so.getSeconds();
                        }},
                ] ],
                limit:5,
                limits:[5,10,15,20,25]
            })

            //打开弹出层
            layerFormIndex = layer.open({
                type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                skin:'layui-layer-molv',
                area:['1000px','400px'],
                title:"时刻表查询",
                anim: 4,
                content:$("#formSearch"),
                cancel:function (){
                    layer.closeAll();
                    $("li").removeClass("on")
                }
            });
        });

        //车价查询按钮
        $("#the_car_query").click(()=>{
            //重置表单
            $('#formSearch [name="reset"]').click();
            //状态为1时刻表查询
            form.val('formSearch',{isInsert : 2});
            //显示车价查询框
            $("#o1").removeClass("cone");
            //其它显示隐藏
            $("#o").addClass("cone")
            $("#o2").addClass("cone")
            $("#o3").addClass("cone")
            $("#o4").addClass("cone")

            //表格隐藏
            $("#b1").removeClass("cone");
            //其它显示隐藏
            $("#b").addClass("cone");
            $("#b2").addClass("cone");
            $("#b3").addClass("cone");
            $("#b4").addClass("cone");
            //表单
            tablezzBrId2 = table.reload({
                elem: "#tablezzBrId1",
                id: "tablezzBrId1",
                url:'',
                page:true,
                cols:[ [
                    {}
                ] ],
                limit:5,
                limits:[5,10,15,20,25]
            })

            //打开弹出层
            layerFormIndex = layer.open({
                type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                skin:'layui-layer-molv',
                area:['1000px','400px'],
                title:"车价查询",
                anim: 4,
                content:$("#formSearch"),
                cancel:function (){
                    layer.closeAll();
                    $("li").removeClass("on")
                }
            });
        });

        //车价查询按钮
        $("#the_fare_query").click(()=>{
            //重置表单
            $('#formSearch [name="reset"]').click();
            //状态为1时刻表查询
            form.val('formSearch',{isInsert : 3});
            //显示车价框
            $("#o2").removeClass("cone");
            //其它显示隐藏
            $("#o1").addClass("cone");
            $("#o").addClass("cone")
            $("#o3").addClass("cone")
            $("#o4").addClass("cone")

            $("#b2").removeClass("cone");
            //其它显示隐藏
            $("#b1").addClass("cone");
            $("#b").addClass("cone")
            $("#b3").addClass("cone")
            $("#b4").addClass("cone")
            //表单
            tablezzBrId = table.reload({
                elem: "#tablezzBrId2",
                id: "tablezzBrId2",
                url:'',
                page:true,
                cols:[ [
                    {}
                ] ],
                limit:5,
                limits:[5,10,15,20,25]
            })

            //打开弹出层
            layerFormIndex = layer.open({
                type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                skin:'layui-layer-molv',
                area:['1000px','400px'],
                title:"票价查询",
                anim: 4,
                content:$("#formSearch"),
                cancel:function (){
                    layer.closeAll();
                    $("li").removeClass("on")
                }
            });
        });

        //票数查询
        $("#votes_to_query").click(()=>{
            //重置表单
            $('#formSearch [name="reset"]').click();
            //状态为1时刻表查询
            form.val('formSearch',{isInsert : 4});
            //显示列车查询框
            $("#o3").removeClass("cone");

            //其它显示隐藏
            $("#o2").addClass("cone");
            $("#o1").addClass("cone");
            $("#o").addClass("cone");
            $("#o4").addClass("cone");

            //隐藏表格
            $("#b3").removeClass("cone");

            //其它显示隐藏
            $("#b2").addClass("cone");
            $("#b1").addClass("cone");
            $("#b").addClass("cone");
            $("#b4").addClass("cone");
            //表单
            tablezzBrId = table.reload({
                elem: "#tablezzBrId3",
                id: "tablezzBrId3",
                url:'',
                page:true,
                cols:[ [
                    {}
                ] ],
                limit:5,
                limits:[5,10,15,20,25]
            })

            //打开弹出层
            layerFormIndex = layer.open({
                type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                skin:'layui-layer-molv',
                area:['1000px','400px'],
                title:"票数查询",
                anim: 4,
                content:$("#formSearch"),
                cancel:function (){
                    layer.closeAll();
                    $("li").removeClass("on")
                }
            });
        });

        //站点查询按钮
        $("#site_query").click(()=>{
            //重置表单
            $('#formSearch [name="reset"]').click();
            //状态为1时刻表查询
            form.val('formSearch',{isInsert : 5});
            //显示站点框
            $("#o4").removeClass("cone");
            //其它显示隐藏
            $("#o3").addClass("cone");
            $("#o2").addClass("cone");
            $("#o1").addClass("cone");
            $("#o").addClass("cone");

            $("#b4").removeClass("cone");
            //其它显示隐藏
            $("#b3").addClass("cone");
            $("#b2").addClass("cone");
            $("#b1").addClass("cone");
            $("#b").addClass("cone");
            //表单
            tablezzBrId = table.reload({
                elem: "#tablezzBrId4",
                id: "tablezzBrId4",
                url:'',
                page:true,
                cols:[ [
                    {}
                ] ],
                limit:5,
                limits:[5,10,15,20,25]
            })

            //打开弹出层
            layerFormIndex = layer.open({
                type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                skin:'layui-layer-molv',
                area:['1000px','400px'],
                title:"站点查询",
                anim: 4,
                content:$("#formSearch"),
                cancel:function (){
                    layer.closeAll();
                    $("li").removeClass("on")
                }
            });
        });
    });

</script>
</html>